body{
    background-color: rgb(44, 129, 4); 
    margin: 450px;
    padding: 100px;
}
.logo{
    display: flex;
    top: 10px;
    left: 1px;
    width: 200px;
    height: 200px;
}
nav{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
nav button{
    background-color:  rgb(255, 0, 0);
    padding: 6px 20px;
    border-radius: 10px;
}
main{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}
input{
    display: flex;
    margin: 5px auto;
    padding: 8px;
    border-radius: 4px;
    background-color:  rgb(255, 0, 0); 
}
button{
    margin-top: 8px;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    background-color:  rgb(255, 255, 255); 
}
div{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
}
